<!DOCTYPE html>
<html lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>Страница администратора. CRUD доступны на каждом пользователе.</h1>
<div th:each="user : ${users}">

    <a th:text="${user.getUsername()}">user</a>

    <a th:href="@{/users/edit(edit=${user.getId()})}"> Edit </a>
    <br/>
    <form th:method="POST" th:action="@{/users/delete(delete=${user.getId()})}">

        <input type="submit" value="Delete">
        <br><br/>
    </form>

</div>
<br><br/>
<hr/>
<a href="/users/new">add</a>
<br><br/>
<a href="/logout">logout</a>
</body>
</html>