<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>

<a th:href="@{/users/edit(edit=${user.getId()})}"> Edit </a>

<form th:method="POST" th:action="@{/users/delete(delete=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
<br><br/>
<a href="/admin">back</a>
<br><br/>
<a href="/logout">logout</a>
</body>
</html>