<!DOCTYPE html>
<html lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/edit(id=${user.getId()})}" th:object="${user}">

    <label for="name"> Edit Name: </label>
    <input type="text" th:field="*{username}" id="name"/>

    <br><br/>

    <label for="email"> Edit email: </label>
    <input type="text" th:field="*{email}" id="email">

    <br><br/>


    <label for="pass"> Edit pass: </label>
    <input type="text" th:field="*{pass}" id="pass">

    <br><br/>
    <br>
    <label for="roles"><b>Role</b></label>
    <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>
        <option th:each="role: ${roles}" th:value="${role.getRole}" th:selected="${roles.contains(role)}">
            <th:block th:text="${role.getRole}">
            </th:block>
        </option>
    </select>
    <br>

    <input type="submit" value="Edit">
</form>
<br><br/>
<a href="/logout">logout</a>
</body>
</html>